
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Shays' Rebellion - Scene: War&#39;s End</title>
<link href="../common/styles.css" rel="stylesheet" type="text/css" media="screen" />
<link href="../common/styles_print.css" rel="stylesheet" type="text/css" media="print" />
<!-- <link href="../common/1704_html5_scenes.css" rel="stylesheet" type="text/css" media="print" /> -->
<!--[if IE]>
<link href="/common/styles_ie.css" rel="stylesheet" type="text/css" media="screen" />
<![endif]-->
<script language="JavaScript" type="text/javascript" src="../common/scripts.js"></script>
<!-- for Flash -- gone -->

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>


<style type="text/css" media="screen">
  /* styles for HTML5 interactive scenes */
  #scene-app {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
  }

  #scene-app a:link, #scene-app a:visited {
    color: #660000;
  }

  #scene-app a:hover, #scene-app a:active {
    color: brown;
  }

  .scene-wrapper {
    max-width: 930px;
    overflow: auto;
    /*background-image: url("../scenes/html5images/bkgrnd_sand.jpg");*/
  }

  .scene-image  {
    float: left;
    padding: 1px;
    width: 70%;
  }

  .scene-image img {
    max-width: 100%;
  }

  .scene-text {
    float: right;
    padding: 3px;
    width: 29%;
  }

  @media screen and (max-width: 890px) {
    .scene-text {
      padding: 1px;
    }
  }

  .tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .tabs li {
    display: inline;
  }

  @media screen and (max-width: 890px) {
    .tabs li a img {
      width: 36px;
    }
  }

  img.tab-selected {
    margin-bottom: -5px;
  }

  .no-pointer {
    cursor: default;
  }

  .tab-text {
    background-color: #F7F6E6;
    border-right: 1px solid #B79A6B;
    border-left: 1px solid #B79A6B;
    border-bottom: 1px solid #B79A6B;
    height: 436px;
    overflow-y: scroll;
    padding: 0.25em;
  }

  .tab-text h3  {
    color: #330000;
  }
  
  /* hotspots */
  .hotspot {
    fill: #FFF;
    fill-opacity: 0.0;
  }
  .hotspoton {
    fill: #CC3333;
    fill-opacity: 0.35;
  }

  /* spotlights/masks */
  .tab-mask {
    fill: #000;
    fill-opacity: 0.7;
  }

  /* hotspot text */
  .roll-text {
    border: 1px solid #B79A6B;
    color: #660000;
    height: 60px;
    margin-bottom: 3px;
    padding: 0.25em;
  }


</style>

</head>

<body class="dark">
<div id="wrapper">
<a name="top" id="top"></a>
<a href="/index.html"><img src="../common/images/sm_title.gif" alt="Shays' Rebellion, From Revolution to Constitution" width="104" height="37" border="0" align="left"/></a>

<div id="mainnav">
  <ul>
    <li><a href='/index.html'>Home</a></li>
    <!-- logic:present name="mainItems" -->
         
            <li class="selected" ><a href='/shaysapp/scenes/home.do'>Scenes</a></li>
            <li  ><a href='/shaysapp/people/home.do'>People</a></li>
            <li  ><a href='/shaysapp/artifacts/home.do'>Artifacts &amp; Documents</a></li>
            <li  ><a href='/shaysapp/themes/home.do'>Themes</a></li>
            <li  ><a href='/shaysapp/maps/home.do'>Maps</a></li>
            <li  ><a href='/shaysapp/timeline.do'>Timeline</a></li>
            <li  ><a href='/shaysapp/music/home.do'>Music</a></li>   
    <!-- /logic:present -->
  </ul>
</div><!-- end mainnav div -->
  <br clear="left" />

  <h1>Historic Scenes</h1>

  <div id="subnav">
    <ul>
          <li class="first"><a href='/shaysapp/scene.do?shortName=Prologue'>Prologue</a></li>
        
          <li class="selected" >War's End</li>
          <li ><a href='/shaysapp/scene.do?shortName=Petition'>Petition &amp; Protest</a></li>
          <li ><a href='/shaysapp/scene.do?shortName=Arsenal'>Bloody Encounter</a></li>
          <li ><a href='/shaysapp/scene.do?shortName=Oath'>Taking the Oath</a></li>
          <li ><a href='/shaysapp/scene.do?shortName=Nation'>Making a Nation</a></li>
          <li ><a href='/shaysapp/scene.do?shortName=Epilogue'>Epilogue</a></li>
    </ul>
  </div><!-- end sub nav div -->


  <div id="buffpage" class="scene">

  <h2>War&#39;s End: 
    <span class="scene_subtitle">The Promises of the American Revolution</span></h2>
  <p class="blurb">As the long war drew to a close, Americans looked forward to the freedom and prosperity they believed peace and independence would bring.</p>

  <!-- begin interactive section -->
  <div 
    id="scene-app" 
    class="scene-wrapper"
  >
    <div class="scene-image">
      
      <svg 
        class="no-class" 
        version="1.1" 
        xmlns="http://www.w3.org/2000/svg" 
        xmlns:xlink="http://www.w3.org/1999/xlink" 
        x="0px" y="0px"
        viewBox="0 0 1500 999" 
        xml:space="preserve">
      
        <g>[subtitle goes here. Varies per image?]</g>

        <image 
          style="overflow:visible;" 
          width="1500" 
          height="999" 
          :xlink:href="'html5images/' + scene.scenewide.sceneName + '.jpg'"
          >
        </image>

        <!-- Outlines -->
        <g v-if="outlinesOn">
          <!-- The following loop generates all outlines -->
          <g v-for="(tab, index) in scene.tabs" :key="index">                 
            <g
              v-for="(hotSpot, innerindex) in scene.tabs[index].hotSpots" 
              :key="hotSpot.rollName">
              <path 
                class="outline"
                :d="hotSpot.svg"
                />
            </g>
          </g> <!-- end for loop -->
        </g> <!-- end if outlines on -->

        <!-- Hotspots -->
        <!-- Loop through each tab -->
        <g v-for="(tab, index) in scene.tabs" :key="index">
          <!-- Display mask that leaves highlights for a given tab -->
          <transition name="fade">
            <g v-if="tabName === tab.tabName">
              <path 
                class="tab-mask"
                :d="tab.maskSvg"
                />
            </g>
          </transition>
          <!-- Show hotspot for chosen tab, or all for overview -->
          <g v-if="tabName === tab.tabName || tabName === 'Overview'">
            <!-- Loop generates hotspots this tab. -->
            <g
              v-for="(hotSpot, innerindex) in scene.tabs[index].hotSpots" 
              :key="hotSpot.rollName">
              <!-- "Extra" g because v-for can't contain a v-if 
                Anchor tag will only funciont if spot already highlighte -->
<!--                   <a 
                href="#" 
                class="rollLink"
                @click.prevent="showRollText"></a>
-->                    
                <path 
                  class="hotspot"
                  :class="{ hotspoton: rollName === hotSpot.rollName }"
                  @click.prevent="showRollLink(hotSpot.rollName)"
                  @mouseover="showPop(hotSpot.rollName)"
                  @mouseleave="hidePop"
                  :d="hotSpot.svg"
                  />
              <!-- </a> -->
            </g>
          </g>
        </g>

      </svg>

    </div><!-- /scene-image -->

    <article class="scene-text">
      
      <!--tabs -->
      <ul class="tabs">
        <li 
          v-for="(tab, index) in scene.tabs" 
          :key="index"
        >
          <!-- Selection and cursor disabeled as needed in js -->
          <a 
            href="#" 
            @click.prevent="showTab(index)"
            @mouseover="hoverTab(index)"
            @mouseleave="unHoverTab(index)"
            :class="cursorState(index)"
            :title="tab.tabName"

            :class="getTabState(index)"
            >
            {{ tab.tabName }}
          </a>
        </li>
      </ul>

      <!--tab text -->
      <div class="tab-text">
        <div v-html="tabTexts[tabName][1]">
      </div>

    </article><!--/scene-text -->

    <div class="scene-related">
      <!-- Outline and enlarge buttons -->
      <div class="icons">
        <a 
          href="#"
          :title="outlineToolTip" 
          @click.prevent="toggleOutlines"
          @mouseover="outlineHover = true"
          @mouseleave="outlineHover = false"
        >
          <img 
            :src="'html5images/hotspot_icon' + 
              outlineSuffix + '.gif'">
        </a>
        <a 
          :href="largerUrl" 
          target="larger"
          title="Show large version of picture"
          @mouseover="iconHover = true"
          @mouseleave="iconHover = false"
        >
          <img 
            :src="'html5images/enlarge_icon' + 
              iconSuffix + '.gif'">
        </a>
      </div>

      <div class="scene-info-area">
        <!-- hotspot roll over text area -->
        <!-- <div v-html='rollText' class="roll-text"></div> -->
        <div class="roll-text">
          <p>
            <span v-html='rollText[0]'></span>
            <span v-html='rollText[1]'></span>
          </p>
          
        </div> <!-- /roll-text -->

        <!-- Related pop up menus gone -->
      </div><!--/scene-info-area -->
    </div><!--/scene-related -->

  </div><!--/#scene-app -->
  <!-- end interactive section -->


  <!-- begin call to interactive -->
  <script src="data/War-svg.js" type="text/javascript"></script>
  <script src="data/War-text.js" type="text/javascript"></script>
  <script src="../common/scene.js" type="text/javascript"></script>
  <!-- end dynamic call to interactive -->

  <br />
  <div id="scene_tool_zone">

  <div class="scene_tools">
    <h5>Observers</h5>
    <ul class="observers">
    <li>
    <a href="/scenes/no_observer.html" onclick="javascript:no_observer(); return false" onmouseover="document.friedrich_vonsteuben.src='/scenes/images/obs_friedrich_vonsteuben_f2.gif';" onmouseout="document.friedrich_vonsteuben.src='/scenes/images/obs_friedrich_vonsteuben.gif';"><img src="images/obs_friedrich_vonsteuben.gif" alt="friedrich_vonsteuben | " width="72" height="72" name="friedrich_vonsteuben" border="0"><span><strong>Major General Friedrich Von Steuben</strong>
    <br>Philadelphia, October, 1783<br>
    <em>"The soldiers engaged for the war can not on any pretence be retained against their inclination after the proclamation of Peace &ndash;those who desire to retire immediately on their accounts being settled shall receive their discharges and one months pay with Provision to carry them to their States where Officers shall conduct them."</em></span></a>
    </li>
    <li>
    <a href="/shaysapp/person.do?shortName=james_madison" onclick="javascript:person('james_madison'); return false" onmouseover="document.james_madison.src='/scenes/images/obs_james_madison_f2.gif';" onmouseout="document.james_madison.src='/scenes/images/obs_james_madison.gif';"><img src="images/obs_james_madison.gif" alt="james_madison | " width="72" height="72" name="james_madison" border="0"><span><strong>James Madison</strong>
    <br>April 23, 1783<br>
    <em>"The resolution permitting the soldiers to retain their arms was passed at the recommendation of Gen'l Washington. The resolution for granting furloughs or discharges was a compromise between those who wished to get rid of the expence of keeping the men in the field, and those who thought it impolitic to disband the army whilst the British remained in the United States."</em> <strong>Click for more info</strong></span></a>
    </li>
    <li>
    <a href="/scenes/no_observer.html" onclick="javascript:no_observer(); return false" onmouseover="document.robert_morris.src='/scenes/images/obs_robert_morris_f2.gif';" onmouseout="document.robert_morris.src='/scenes/images/obs_robert_morris.gif';"><img src="images/obs_robert_morris.gif" alt="robert_morris | " width="72" height="72" name="robert_morris" border="0"><span><strong>Robert Morris to George Washington</strong>
    <br>May 29, 1783<br>
    <em>"I shall cause such Notes to be issued for three Months Pay to the Army and I must entreat Sir that every influence be used with the States to absorb them together with my other Engagements by Taxation. The present collections are most shameful and afford but a sad Prospect to all those who are dependent upon them."</em></span></a>
    </li>
    <li>
    <a href="/shaysapp/person.do?shortName=george_washington" onclick="javascript:person('george_washington'); return false" onmouseover="document.george_washington.src='/scenes/images/obs_george_washington_f2.gif';" onmouseout="document.george_washington.src='/scenes/images/obs_george_washington.gif';"><img src="images/obs_george_washington.gif" alt="george_washington | " width="72" height="72" name="george_washington" border="0"><span><strong>General George Washington</strong>
    <br>Rocky Hill, New Jersey, November 2, 1783 <br>
    <em>"the Officers and Soldiers may expect considerable assistance in recommencing their civil occupations from the sums due to them from the public, which must and will most inevitably be paid. It is earnestly recommended to all the Troops that&hellip;they should prove themselves not less virtuous and useful as Citizens, than they have been persevering and victorious as Soldiers."</em> <strong>Click for more info</strong></span></a>
    </li>
    </ul>
</div>

<!--end observers tools--><div class="scene_tools">
<h5>Themes</h5>
<ul class="themes">
<li>
<a href="/shaysapp/essay.do?shortName=getby_warsend" onclick="javascript:essay('getby_warsend'); return false" onmouseover="document.getting.src='/scenes/images/theme_get_f2.gif';" onmouseout="document.getting.src='/scenes/images/theme_get.gif';"><img src="images/theme_get.gif" name="getting" border="0" alt="Getting By and Getting Ahead icon" height="85" width="60"><span><strong>Getting By &amp; Getting Ahead</strong>
<br>
        The interest-bearing certificates Congress paid soldiers of the Continental Army in lieu of cash at the end of the war proved a poor substitute.
      <br>
<strong>Click for more info</strong></span></a>
</li>
<li>
<a href="/shaysapp/essay.do?shortName=we_warsend" onclick="javascript:essay('we_warsend'); return false" onmouseover="document.people.src='/scenes/images/theme_people_f2.gif';" onmouseout="document.people.src='/scenes/images/theme_people.gif';"><img src="images/theme_people.gif" name="people" border="0" alt="We the People icon" height="85" width="60"><span><strong>We the People</strong>
<br>
        In the months leading up to and following peace, Americans preferred to forget the indispensable role a professional army had played in winning independence.
      <br>
<strong>Click for more info</strong></span></a>
</li>
<li>
<a href="/shaysapp/essay.do?shortName=world_warsend" onclick="javascript:essay('world_warsend'); return false" onmouseover="document.world.src='/scenes/images/theme_world_f2.gif';" onmouseout="document.world.src='/scenes/images/theme_world.gif';"><img src="images/theme_world.gif" name="world" border="0" alt="The Wider World icon" height="85" width="60"><span><strong>The Wider World</strong>
<br>
        The coming of peace presented a new challenge for the United States: how would it peaceably demobilize the Continental Army? 
      <br>
<strong>Click for more info</strong></span></a>
</li>
<li>
<a href="/shaysapp/essay.do?shortName=life_warsend" onclick="javascript:essay('life_warsend'); return false" onmouseover="document.life.src='/scenes/images/theme_life_f2.gif';" onmouseout="document.life.src='/scenes/images/theme_life.gif';"><img src="images/theme_life.gif" name="life" border="0" alt="Everyday Life icon" height="85" width="60"><span><strong>Everyday Life</strong>
<br>
        By the end of the war, most rank and file soldiers in the Continental Army were young men who lacked both income and status.
      <br>
<strong>Click for more info</strong></span></a>
</li>
</ul>
</div>
<!--end theme scene tools--><div class="scene_tools">
<h5>Related To This Scene</h5>
<br>
<div id="scroll_links">
<ul>
<li>
<a href="/shaysapp/artifact.do?shortName=american_flintlock" onclick="javascript:artifact('american_flintlock'); return false"><img src="images/relat_object.gif" alt="/scenes/images/relat_object.gif" width="22" height="22" border="0"> American Flintlock</a>
</li>
<li>
<a href="/shaysapp/artifact.do?shortName=bullet_mold" onclick="javascript:artifact('bullet_mold'); return false"><img src="images/relat_object.gif" alt="/scenes/images/relat_object.gif" width="22" height="22" border="0"> Bullet Mold</a>
</li>
<li>
<a href="/shaysapp/artifact.do?shortName=canteen" onclick="javascript:artifact('canteen'); return false"><img src="images/relat_object.gif" alt="/scenes/images/relat_object.gif" width="22" height="22" border="0"> Canteen</a>
</li>
<li>
<a href="/shaysapp/artifact.do?shortName=cartridge_box" onclick="javascript:artifact('cartridge_box'); return false"><img src="images/relat_object.gif" alt="/scenes/images/relat_object.gif" width="22" height="22" border="0"> Cartridge Box</a>
</li>
<li>
<a href="/shaysapp/artifact.do?shortName=declaration_independence" onclick="javascript:artifact('declaration_independence'); return false"><img src="images/relat_document.gif" alt="/scenes/images/relat_document.gif" width="22" height="22" border="0"> Declaration of Independence</a>
</li>
<li>
<a href="/shaysapp/artifact.do?shortName=deerfield_warrant" onclick="javascript:artifact('deerfield_warrant'); return false"><img src="images/relat_document.gif" alt="/scenes/images/relat_document.gif" width="22" height="22" border="0"> Deerfield Town Warrant</a>
</li>
<li>
<a href="/shaysapp/artifact.do?shortName=fife" onclick="javascript:artifact('fife'); return false"><img src="images/relat_object.gif" alt="/scenes/images/relat_object.gif" width="22" height="22" border="0"> Fife</a>
</li>
<li>
<a href="/shaysapp/artifact.do?shortName=flag_remnant" onclick="javascript:artifact('flag_remnant'); return false"><img src="images/relat_object.gif" alt="/scenes/images/relat_object.gif" width="22" height="22" border="0"> Flag Remnant</a>
</li>
<li>
<a href="/shaysapp/artifact.do?shortName=armchair_hoyt" onclick="javascript:artifact('armchair_hoyt'); return false"><img src="images/relat_object.gif" alt="/scenes/images/relat_object.gif" width="22" height="22" border="0"> Hoyt Armchair</a>
</li>
<li>
<a href="/shaysapp/artifact.do?shortName=liberty_pole" onclick="javascript:artifact('liberty_pole'); return false"><img src="images/relat_object.gif" alt="/scenes/images/relat_object.gif" width="22" height="22" border="0"> Liberty Pole</a>
</li>
<li>
<a href="/shaysapp/artifact.do?shortName=maxwell_diploma" onclick="javascript:artifact('maxwell_diploma'); return false"><img src="images/relat_object.gif" alt="/scenes/images/relat_object.gif" width="22" height="22" border="0"> Society of the Cincinnati Diploma</a>
</li>
<li>
<a href="/shaysapp/artifact.do?shortName=maxwell_silhouette" onclick="javascript:artifact('maxwell_silhouette'); return false"><img src="images/relat_object.gif" alt="/scenes/images/relat_object.gif" width="22" height="22" border="0"> Silhouette of Hugh Maxwell</a>
</li>
<li>
<a href="/shaysapp/artifact.do?shortName=payroll_wells1776" onclick="javascript:artifact('payroll_wells1776'); return false"><img src="images/relat_document.gif" alt="/scenes/images/relat_document.gif" width="22" height="22" border="0"> Revolutionary War Payroll</a>
</li>
<li>
<a href="/shaysapp/artifact.do?shortName=west_point" onclick="javascript:artifact('west_point'); return false"><img src="images/relat_object.gif" alt="/scenes/images/relat_object.gif" width="22" height="22" border="0"> Print of West Point</a>
</li>
</ul>
</div>
<!--scroll_links div-->
</div>
<!--end related scene tools-->

</div><!-- /theme tool zone div -->

<br clear="left"/>
<p class="caption">Historic illustration &copy; 2008 Bryant White.</p>
<p class="caption"><a href='/shaysapp/scenehtml.do?shortName=War'
            onclick="javascript:scenehtml('War'); return false">Printable text of this scene</a></p>
<p class="top"><a href="#top">Top of Page</a></p>

</div><!-- end buffpage div -->

  <div id="footer">
  <ul>
    <li><a href="/shaysapp/about/index.jsp">About This Site</a> |</li>
    <li><a href="/shaysapp/about/sitemap.jsp">Site Map</a> |</li>
    <li><a href="/shaysapp/lessons/index.jsp">For Teachers</a> |</li>
    <li><a href="/shaysapp/about/bibliography.jsp">Bibliography</a> |</li>
    <li><a href="/shaysapp/glossary/list.do">Glossary</a> |</li>
    <li>&nbsp;&nbsp;Search:</li>
    <li class="searchbox">  
      <form name="textSiteSearchForm" method="get" action="/shaysapp/sitesearch.do" enctype="multipart/form-data">
          <input type="text" name="zoom_query" size="14">
          <input type="hidden" name="zoom_cat" value="-1">
          <input type="hidden" name="zoom_and" value="1">
        <input type="submit" value="Go">
      </form>
    </li>
    <li><a href="/shaysapp/search/home.do">Advanced Search</a></li>
  </ul>
  <p>&copy; 2008 Springfield Technical Community College, P.O. Box 9000, Suite 1, Springfield, MA 01102-9000, 413-781-7822</p>
</div><!-- end footer div -->


</div><!-- /wrapper div -->
</body>
</html>
